@font-face {
    font-family: 'JJK';
    src: url(../Font/jujutsu-kaisen.ttf);
}

@font-face {
    font-family: 'Jost';
    src: url(../Font/Jost-Medium.ttf);
}

body {
    margin: 0;
    padding: 0;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

ul {
    font-family: 'Jost';
    font-size: 2vw;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #b82f10;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    position: relative; 
}

li {
    float: none;
    margin: 0 0px; 
    border-right: 4px solid #000000;
}

li a {
    display: block;
    color: rgba(0, 0, 0, 0.796);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(#header) {
    background-color: #000000;
    color: #b82f10;
}

#header {
    font-family: 'JJK';
}

#rad {
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-45%);
}

#rad.fixed {
    position: fixed;
}
